# Virtual Environments
.venv/

# Python Cache
__pycache__/
*.pyc

# Data Directories
data/downloads/
data/processed/
data/raw/
data/uploads

# Documentation
docs/
RunAppLocally.txt

# Archived Directory
archived/

# OS
.DS_Store
.env
*.egg-info/
.vscode/



