# Virtual Environments
.venv/

# Python Cache
__pycache__/
*.pyc

# Data Directories
data/downloads/
data/raw/

# Documentation
docs/
RunAppLocally.txt

# Archived Directory
archived/

# OS
.DS_Store
.env
*.egg-info/
.vscode/



